.Login {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.InstagramPhoto {
    width: 40%;
    height: 100vh;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.InstagramPhoto img {
    height: 90vh;
}

.LoginForm {
    width: 40%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}