.SearchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 90%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-icon {
    height: 30px;
    padding-right: 16px;
    border-right: 1px solid lightgrey;
}

.logo-text {
    padding-left: 16px;
    height: 35px;
}

.logo-icon img, .logo-text img {
    height: inherit;
}

.Search input {
    width: 150px;
    background-color: #fafafa;
    font-size: 14px;
    height: 18px;
    text-align: center;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
}

.Icons i {
    margin-right: 16px;
    color: grey;
}

@media only screen and (max-width: 700px)  {
    .logo-icon {
        height: 20px;
        padding-right: 8px;
        border-right: 1px solid lightgrey;
    }
    
    .logo-text {
        padding-left: 8px;
        height: 30px;
    }

    .SearchBar {
        max-width: 95%;
    }

    .Search input {
        width: 80%;
    }

    .Icons i {
        margin-right: 12px;
        color: grey;
    }
}

@media only screen and (max-width: 400px)  {
    .logo-text {
        display: none;
    }
}