.SearchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-icon {
    height: 30px;
    padding-right: 16px;
    border-right: 1px solid lightgrey;
}

.logo-text {
    padding-left: 16px;
    height: 35px;
}

.logo-icon img, .logo-text img {
    height: inherit;
}

.Search input {
    width: 150px;
    font-size: 14px;
    height: 18px;
    text-align: center;
    background-color: #D3D3D3;
    border: 1px solid grey;
    border-radius: 2px;
}