.PostsPage {
    max-width: 1200px;
    margin: 16px auto;
}

.InstagramPosts {
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 90%;
}

@media only screen and (max-width: 700px)  {
    .InstagramPosts {
        max-width: 95%;
    }
}

.PostContainer {
    max-width: 300px;
}

.Author {
    display: flex;
    align-items: center;
    margin: 16px 0 8px 0;
}

.Author div {
    height: 24px;
    width: 24px;
    border-radius: 1000px;
}

.Author div img {
    width: inherit;
    border-radius: inherit;
}

.Author span {
    margin-left: 8px;
}

.Image {
    height: 300px;
    max-width: 300px;
}

.Image img {
    height: 300px;
    max-width: inherit;
}

@media only screen and (max-width: 700px)  {
    .PostContainer {
        max-width: 100%;
        width: 100%;
    }

    .Image {
        height: auto;
        max-width: 100%;
    }
    
    .Image img {
        height: auto;
        max-width: inherit;
    }

}
